body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

header {
    background-color: #074749;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
}

ul.menú,
ul.menú * {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: auto;
}

ul.menú {
    margin: 10px auto;
    padding: 0;
    list-style: none;
    width: 100%;
    font-size: 18px;
}

ul.menú li {
    list-style: none;
}

ul.menú li a {
    display: block;
    padding: 10px 10px 10px 20px;
    background: #087074;
    color: #eee;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    box-sizing: border-box;
}

ul.menú li ul {
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: .3s all ease-in;
}

ul.menú li li a {
    padding: 10px 10px 10px 40px;
    background: #a3bdb7;
    color: #000;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

ul.menú li li:last-child a {
    border-bottom: 0;
}

ul.menú li:hover ul {
    max-height: 300px;
    transition: .3s all ease-in;
}

ul.menú li a:hover {
    background: #666;
    color: #fff;
}

ul.menú li ul.scroll {
    overflow: auto;
}

footer {
    background-color: #074749;
    padding: 10px;
    text-align: center;
    color: white;
}

div.normal{
    font-size: 15px;

}

table,tr {
    border: 2px solid black;
    border-collapse: collapse;
    width:90%;
    text-align: center;
}

th {
    background-color: #490716;
    color: white;
    padding: 15px;
}

td{
    padding: 10px;
}