body {
    margin: 0;
}
h1, h2{
    text-align: center;
}

table,tr {
    border: 2px solid black;
    border-collapse: collapse;
    width:90%;
    text-align: center;
}

th {
    background-color: #150408;
    color: white;
    padding: 15px;
}

td{
    background-color: #490716;
    padding: 10px;
}