body{
    background-color: black;
    font-family: "helvetica neue";
    background: url(../img/fondo.png),linear-gradient(to left, #460a0d, #000000);
}

header{
    margin: auto;
    height: fit-content;
}

nav{
  margin: auto;
  display: flex;
  background-color: black;
  opacity: 85%;
  width: 80%;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 80%;
}
h1{
  text-align: center;
  color: whitesmoke;
}

h3{
  text-align: center;
  color: white;
  padding: 3px;
  border-radius: 6px;
  border: solid white;
  width: 70px;
}
a {
  text-decoration: none;
  margin-right: 40px;
}

a:nth-child(1){
  margin-left: 50px;
}

footer{
  margin: auto;
  display: flex;
  background-color: rgba(0, 0, 0, 0.836);
  opacity: 85%;
  width: 80%;
  height: 60px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin-top: 400px;
  text-align: center;
  opacity: 80%;
}
h4{
  padding-right: 25px;
  color: white;
}
h4:nth-child(2){
  margin-right: 0px;
}